body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(125deg, rgb(158, 210, 235) 0%, rgb(158, 210, 235) 45%,
     rgb(246, 223, 181) 45%, rgb(246, 223, 181) 60%,
     rgb(243, 158, 132)60%, rgb(243, 158, 132)75%, 
     rgb(252, 210, 240)75%, rgb(252, 210, 240)100%);
}    
.todoBox{
    width: 800px;
    height: 550px;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 0px black;
    display: grid;
    grid-template: 1fr 4fr/1fr 3fr;
}
.sidebox{
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    background-color: rgb(255, 253, 250);
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Schoolbell", cursive;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}
.logoImg{
    width: 35px;
    height: 35px;
    background-image: url('./images/logo.png');
    background-position: center;
    background-size: cover;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.navBtn{
    font-family: "Schoolbell", cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(232, 230, 230);
    border: 1px solid black;
    border-radius: 10px 0px 10px 0px;
    font-weight: bold;
    height: 20px;
    gap: 15px;
}
.btnText{
    font-size: 15px;
}
.homeIcon{
    background-image: url('./images/home.png');
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px;
}
.todayIcon{
    background-image: url('./images/today.png');
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px;
}
.upcomingIcon{
    background-image: url('./images/upcoming.png');
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px;
}
.notesIcon{
    background-image: url('./images/notes.png');
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px;
}
.mainBox{
    grid-area: 1/2/3/3;
    background-color: antiquewhite;
    border-radius: 0px 20px 20px 0px;
    padding: 10px;
    position: relative;
    background-image: url(./images/computer.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 200px 200px;
}
#addTask{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 45px;
    font-family: "Schoolbell", cursive;
    width: 50px;
    height: 50px;
    align-self: flex-end;
}
.navBtn:hover, #addTask:hover{
    cursor: pointer;
    position: relative;
    box-shadow: 5px 0px 0px black;
    right: 5px;
}
.notesContainer{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-x: scroll;
}
.notesContainer::-webkit-scrollbar,
.projects::-webkit-scrollbar{
    border-radius: 20px;
    height: 10px;
}
.notesContainer::-webkit-scrollbar-thumb,
.projects::-webkit-scrollbar-thumb{
    background-color: rgb(243, 158, 132);
    border-radius: 20px;
    border: 1px solid black;
}
.homeContainer{
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
}
.projects{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: end;
    max-height: 150px;
    overflow-y: scroll;
}
.project{
    font-family: "Schoolbell", cursive;
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-size: 15px;
}
.project:hover{
    color: rgb(243, 158, 132);
    cursor: pointer;
}
.projectContainer{
    flex-direction: column;    
    font-family: "Schoolbell", cursive;
    width: 95%;
    height: 95%;  
    overflow-y: scroll;
} 

.projectContainer::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.projectContainer::-webkit-scrollbar-thumb{
    background-color: rgb(243, 158, 132);
    border-radius: 20px;
    border: 1px solid black;
}

.addTaskProject{
    justify-self: end;
    align-self: center;
    width: 70px;
    font-family: "Schoolbell", cursive;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgb(243, 158, 132);
    color: rgb(255, 253, 250);
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    top: 90%;
    left: 85%;
}
.addTaskProject:hover,
.btnDeleteProject:hover{
    cursor: pointer;
}
.btnDeleteProject{
    position: absolute;
    left: 90%;
    background-color: rgb(243, 158, 132);
    color: rgb(255, 253, 250);
    border: 1px solid black;
    border-radius: 20px;
    font-family: "Schoolbell", cursive;
    font-weight: bold;
    justify-self: end;
    align-self: center;
}
.homeContainer, .todayContainer, .upcomingContainer, .notesContainer{
    font-family: "Schoolbell", cursive;
}